@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="banner"
             style="background-image: url(./assets/images/home/@Model.Banners.FirstOrDefault(m => !m.IsDeleted)?.Image">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="banner-detail">
                        <h1>@Model.Banners.FirstOrDefault(m => !m.IsDeleted)?.Title</h1>
                        <button><a href="shop.html">Shop Now</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="category">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="categories">
                        <img src="./assets/images/home/bg-2.jpg.webp" alt="" />
                        <a href="">MEN</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="categories">
                        <img src="./assets/images/home/bg-3.jpg.webp" alt="" />
                        <a href="">WOMEN</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="categories">
                        <img src="./assets/images/home/bg-4.jpg.webp" alt="" />
                        <a href="">ACCESSORIES</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="global-sale">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="global-sale-about"
                         style="
                  background-image: url(./assets/images/home/@Model.Banners.FirstOrDefault(m => !m.IsDeleted)?.Image);
                ">
                        <div class="global-sale-detail">
                            <h1>@Model.Banners.FirstOrDefault(m => !m.IsDeleted)?.Title</h1>
                            <button><a href="shop.html">Shop Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-header">
                        <h2>Popular Products</h2>
                    </div>
                </div>
                <div id="product-slider" class="owl-carousel">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="product">
                                <div class="product-image" product-id="1">
                                    <a href="product-detail.html" class="image">
                                        <img src="./assets/images/home/products/@product.ProductImages.FirstOrDefault(m => m.IsMain)?.Name"
                                         class="img-1" />
                                        <img src="./assets/images/home/products/@product.ProductImages.FirstOrDefault(m => !m.IsMain)?.Name"
                                         class="img-2" />
                                    </a>
                                    <span class="discount">Sale</span>
                                    <a href="" class="cart">Add to Cart</a>
                                    <div class="links">
                                        <ul>
                                            <li>
                                                <a href=""><i class="fa-solid fa-heart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content">
                                        @foreach (var category in product.ProductSubCategories)
                                        {
                                            <span class="category"><a href="">@category.SubCategory.Name</a></span>
                                        }
                                        <h3 class="title">
                                            <a href="">@product.Name</a>
                                        </h3>
                                        <div class="price">$@product.Price</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                    <div class="product-image" product-id="2">
                    <a href="product-detail.html" class="image">
                    <img src="./assets/images/home/products/men-1.jpg"
                    class="img-1" />
                    <img src="./assets/images/home/products/men-11.jpg"
                    class="img-2" />
                    </a>
                    <span class="discount">Sale</span>
                    <a href="" class="cart">Add to Cart</a>
                    <div class="links">
                    <ul>
                    <li>
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    </li>
                    </ul>
                    </div>
                    <div class="content">
                    <span class="category"><a href="">Bershka</a></span>
                    <h3 class="title">
                    <a href="">Poplin Displaced Wrap Dress</a>
                    </h3>
                    <div class="price">$500</div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                    <div class="product-image" product-id="3">
                    <a href="product-detail.html" class="image">
                    <img src="./assets/images/home/products/acs-1.jpg"
                    class="img-1" />
                    <img src="./assets/images/home/products/acs-11.jpg"
                    class="img-2" />
                    </a>
                    <span class="discount">Sale</span>
                    <a href="" class="cart">Add to Cart</a>
                    <div class="links">
                    <ul>
                    <li>
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    </li>
                    </ul>
                    </div>
                    <div class="content">
                    <span class="category"><a href="">Zara</a></span>
                    <h3 class="title">
                    <a href="">PETITE Crepe Wrap Mini Dress</a>
                    </h3>
                    <div class="price">$500</div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                    <div class="product-image" product-id="4">
                    <a href="product-detail.html" class="image">
                    <img src="./assets/images/home/products/wshoess-1.jpg"
                    class="img-1" />
                    <img src="./assets/images/home/products/wshoess-11.jpg"
                    class="img-2" />
                    </a>
                    <span class="discount">Sale</span>
                    <a href="" class="cart">Add to Cart</a>
                    <div class="links">
                    <ul>
                    <li>
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    </li>
                    </ul>
                    </div>
                    <div class="content">
                    <span class="category"><a href="">Mango</a></span>
                    <h3 class="title">
                    <a href="">PETITE Belted Jumper Dress</a>
                    </h3>
                    <div class="price">$500</div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                    <div class="product-image" product-id="5">
                    <a href="product-detail.html" class="image">
                    <img src="./assets/images/home/products/bere-1.webp"
                    class="img-1" />
                    <img src="./assets/images/home/products/bere-11.webp"
                    class="img-2" />
                    </a>
                    <span class="discount">Sale</span>
                    <a href="" class="cart">Add to Cart</a>
                    <div class="links">
                    <ul>
                    <li>
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    </li>
                    </ul>
                    </div>
                    <div class="content">
                    <span class="category"><a href="">Mango</a></span>
                    <h3 class="title">
                    <a href="">Knot Front Mini Dress</a>
                    </h3>
                    <div class="price">$500</div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                    <div class="product-image" product-id="6">
                    <a href="product-detail.html" class="image">
                    <img src="./assets/images/home/products/men-2.jpg"
                    class="img-1" />
                    <img src="./assets/images/home/products/men-22.webp"
                    class="img-2" />
                    </a>
                    <span class="discount">Sale</span>
                    <a href="" class="cart">Add to Cart</a>
                    <div class="links">
                    <ul>
                    <li>
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    </li>
                    </ul>
                    </div>
                    <div class="content">
                    <span class="category"><a href="">Mango</a></span>
                    <h3 class="title">
                    <a href="">Poplin Displaced Wrap Dress</a>
                    </h3>
                    <div class="price">$500</div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="product">
                    <div class="product-image" product-id="7">
                    <a href="product-detail.html" class="image">
                    <img src="./assets/images/home/products/product-2.jpg"
                    class="img-1" />
                    <img src="./assets/images/home/products/product-22.jpg"
                    class="img-2" />
                    </a>
                    <span class="discount">Sale</span>
                    <a href="" class="cart">Add to Cart</a>
                    <div class="links">
                    <ul>
                    <li>
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    </li>
                    </ul>
                    </div>
                    <div class="content">
                    <span class="category"><a href="">Mango</a></span>
                    <h3 class="title">
                    <a href="">PETITE Crepe Wrap Mini Dress</a>
                    </h3>
                    <div class="price">$500</div>
                    </div>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>

    <section id="brands">
        <div class="container">
            <div class="row">
                <div id="product-slider-2" class="owl-carousel">
                    <div class="col-3">
                        <img src="./assets/images/home/MANGO.png"
                             style="width: 300px; height: 100px"
                             alt="" />
                    </div>
                    <div class="col-3">
                        <img src="./assets/images/home/BERSHKA.png"
                             style="width: 300px; height: 100px"
                             alt="" />
                    </div>
                    <div class="col-3">
                        <img src="./assets/images/home/ZARA.png"
                             style="width: 300px; height: 100px"
                             alt="" />
                    </div>
                    <div class="col-3">
                        <img src="./assets/images/home/TERRANOVA.png"
                             style="width: 300px; height: 100px"
                             alt="" />
                    </div>
                    <div class="col-3">
                        <img src="./assets/images/home/PULL & BEAR.png"
                             style="width: 300px; height: 100px"
                             alt="" />
                    </div>
                    <div class="col-3">
                        <img src="./assets/images/home/LTB.png"
                             style="width: 300px; height: 100px"
                             alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
