* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: nav-font;
    src: url(/assets/fonts/FredokaOne-Regular.ttf);
  }
  
  #nav-area {
    .navbar-nav {
      width: 100%;
      gap: 10px;
  
      li {
        margin-left: 20px;
        font-size: 20px;
        font-family: nav-font;
        &:hover a {
          color: white;
          background-color: red;
          border-radius: 10px;
        }
  
        a {
          transition: 0.3s;
        }
      }
    }
  
    .logo {
      img {
        width: 100px;
        height: 80px;
        margin-left: 30px;
      }
    }
  
    .basket {
      i {
        font-size: 30px;
        margin-right: 20px;
        color: rgb(199, 33, 33);
        sup {
          font-size: 15px;
        }
      }
    }
  
    .account {
      display: flex;
      a {
        font-size: 20px;
        font-family: nav-font;
        text-decoration: none;
        transition: 0.3s;
        color: black;
  
        &:hover {
          border-radius: 10px;
          background-color: red;
          color: white;
        }
  
        &:nth-child(3):hover {
          color: white;
        }
  
        &:nth-child(3) {
          color: red;
        }
      }
    }
  
    .search {
      width: 400px;
      margin-right: 10px;
      input {
        font-size: 20px;
        border-radius: 15px;
        border: none;
        border-bottom: 3px solid red;
        outline: none;
        padding-left: 10px;
      }
    }
  
    .line {
      width: 100%;
      height: 1px;
      box-shadow: 0 0 10px;
    }
  }
  
  @media (max-width: 992px) {
    .basket {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 1400px) {
    .search {
      width: 200px !important;
    }
    .account {
      font-size: 10px !important;
    }
  }
  
  @media (max-width: 1200px) {
    .search {
      display: none !important;
    }
  }

  #footer-part {
    background-color: black;
    padding: 70px 0;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        a {
          font-size: 17px;
          text-transform: capitalize;
          text-decoration: none;
          font-weight: 300;
          transition: all 0.3s ease;
          color: #bbbbbb;
  
          &:hover {
            color: white;
            padding-left: 5px;
          }
        }
  
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  
    h4 {
      position: relative;
      font-size: 17px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-family: nav-font;
  
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: red;
        width: 50px;
        height: 2px;
      }
    }
  
    .social-links {
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        transition: all 0.5s ease;
        color: white;
  
        &:hover {
          color: #24262b;
          background-color: white;
        }
      }
    }
  
    span {
      color: rgb(202, 193, 193);
      margin-top: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .col-3 {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .col-3 {
      width: 100%;
    }
  }